@model ChangePasswordModel

<form id="update-password-form" enctype="multipart/form-data">
	@Html.HiddenFor(m => m.UserId)
	@(Html.DevExtreme().Form<ChangePasswordModel>()
		.Items(items =>
		{
			items.AddGroup()
				.CssClass("first-group")
				.Items(groupItems =>
				{
					groupItems.AddSimpleFor(m => m.OldPassword).Label(m => m.Text("Eski Şifre")).IsRequired(true);
					groupItems.AddSimpleFor(m => m.NewPassword).Label(m => m.Text("Yeni Şifre")).IsRequired(true);
					groupItems.AddSimpleFor(m => m.NewPasswordAgain).Label(m => m.Text("Yeni Şifre (Tekrar)")).IsRequired(true);
				});

		})
		.FormData(Model)
	)
</form>
<hr />
<div class="text-center mt-3">	
	@(Html.DevExtreme().Button()
		.Text("Vazgeç")
		.Type(ButtonType.Normal)
		.Width(130)
		.ElementAttr("data-action", "close")
	)

	@(Html.DevExtreme().Button()
		.Text("Kaydet")
		.Type(ButtonType.Success)
		.OnClick(@<text>
			function() { 
				var data = $('#update-password-form').serialize();

				var url = baseUrl + "api/user/changepassword";

				$.post(url, data)
				.done(function(d){
					swal("Tebrikler!", "Şifreniz başarıyla güncellendi.", "success" );
					location.reload();
				})
				.fail(function(e) {
					swal("Hata!", "Şifreniz güncellenemedi.", "error" );
				})
			}
		</text>)
		.Width(130)
	)
</div>
